 
	 <% @hopes.each do |hope| %>
		<div class="part">
			<%= truncate(strip_tags(hope.name), length: 8) %> &nbsp; 对张老师说: <br/>
			&nbsp; &nbsp; &nbsp; &nbsp; <%= truncate(strip_tags(hope.say), length: 80) %>
			<br/>
			<div class="displayAll">
				<%= link_to "全显", hope %>
			</div>
		</div>
    <% end %>
    
    <div class="apple_pagination">
		<%= will_paginate @posts, :container => false %>
	</div>


 

